@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
}

#app {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#naviIcon {
  position: relative;
  display: flex;
  top: 2vh;
  flex-direction: row;
  justify-content: flex-end;
}

.naviBtn {
  width: 80px;
  height: 80px;
}

.bi-flag-fill {
  font-size: 30px;
  line-height: 30px;
  color:#fff;
}

.TopTitle {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgba(136, 0, 255),
    rgb(179, 0, 255)
  );
  flex-direction: column;
}

.TopTitle h1 {
  padding: 0;
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
  color: #fff;
  font-size: 45px;
}

.TopTitle h2 {
  padding: 0;
  font-family: "Do Hyeon", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 13vh;
}

.nyamnyam {
  color: gold;
}

.nyomnyom {
  color:blueviolet
}

#guideScript {
  display: flex;
  margin: 20px 0 0px 0;
  flex-direction: column;
  color: #777;
}

#guideScript span {
  font-size: 20px;
  line-height: 22px;
  font-family: "Do Hyeon", sans-serif;
}

#SearchForm {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

#inputForm {
  display: flex;
  width: 100%;
  margin: 10px 0 20px 0;
  justify-content: center;
}

#inputForm .btn.btn-success {
  background: rgba(136, 0, 255);
  border-color: rgba(136, 0, 255);
  margin-right: 10px;
}

#inputForm .btn.btn-success:nth-child(even) {
  background: rgb(255, 83, 169);
  border-color: rgb(255, 83, 169);
}

#inputForm .btn.btn-success:last-child {
  margin-right: 0px;
}

#slotBtnLayer {
  position: fixed;
  display: flex;
  background: rgba(97, 97, 97, 0.3);
  width: 100%;
  bottom: 0%;
  height: 8vh;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#SlotBtn {
  width: 30%;
  font-size: 20px;
  font-weight: bold;
}

#SlotBtn.btn.btn-danger {
  background: linear-gradient(
    to bottom right,
    rgba(136, 0, 255),
    rgb(179, 0, 255)
  );
  border-color: rgba(136, 0, 255);
}

.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 13px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}

.map_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#map {
  width: 80%;
  height: 500px;
  margin-top: 8vh;
  text-align: center;
  border: 3px solid #ddd;
  border-radius: 20px;
  z-index: 2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#menu_wrap {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  min-width: 900px;
  overflow-y: auto;
  font-size: 12px;
  border-radius: 15px;
  border: 3px solid #ddd;
  margin-bottom: 10vh;
}

#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}

#menu_wrap .option {
  text-align: center;
}

#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap .option button {
  margin-left: 5px;
}

ul#placesList li.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px dotted #999;
}

#placesList li .item {
  text-align: center;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList li.item:nth-child(even) {
  background: #eee;
}

#placesList .item .info {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  text-align: left;
}

#placesList .item .info h5 {
  font-size: 16px;
  color: #222;
  padding-right: 10px;
  font-weight: bold;
  content: " ";
}

#placesList .item .info h5::after {
  content: " : ";
  color: #777;
}

#placesList .info {
  color: #777;
}

#placesList .info .jibun {
  padding-left: 10px;
}

#placesList .info .tel {
  padding-left: 10px;
}

#placesList .info .tel a {
  color: rgb(174, 0, 213);
  font-size: 15px;
  font-weight: bold;
}

#placesList .item .markerbg {
  float: left;
  width: 36px;
  height: 37px;
  margin: 15px 10px 10px 5px;
  background: url(./marker_number_rocket.png) no-repeat;
}

#placesList .item .marker_1 {
  background-position: 0 -10px;
}

#placesList .item .marker_2 {
  background-position: 0 -56px;
}

#placesList .item .marker_3 {
  background-position: 0 -102px;
}

#placesList .item .marker_4 {
  background-position: 0 -148px;
}

#placesList .item .marker_5 {
  background-position: 0 -194px;
}

#placesList .item .marker_6 {
  background-position: 0 -240px;
}

#placesList .item .marker_7 {
  background-position: 0 -286px;
}

#placesList .item .marker_8 {
  background-position: 0 -332px;
}

#placesList .item .marker_9 {
  background-position: 0 -378px;
}

#placesList .item .marker_10 {
  background-position: 0 -423px;
}

#placesList .item .marker_11 {
  background-position: 0 -470px;
}

#placesList .item .marker_12 {
  background-position: 0 -516px;
}

#placesList .item .marker_13 {
  background-position: 0 -562px;
}

#placesList .item .marker_14 {
  background-position: 0 -608px;
}

#placesList .item .marker_15 {
  background-position: 0 -654px;
}

#pagination {
  margin: 10px auto;
  text-align: center;
}

#pagination a {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}

#pagination .on {
  font-weight: bold;
  cursor: default;
  color: rgb(0, 66, 181);
}

.modal {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
}

.modal.display {
  display: inline;
}

.black_bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  padding: 20px;
  text-align: center;
  z-index: 2;
}

.white_bg {
  width: 60%;
  min-width: 300px;
  height: 250px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  z-index: 2;
}

.white_bg h4 {
  width: 100%;
  min-width: 500px;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 5px;
}

.resultMenu {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 70px;
  font-size: 45px;
  font-weight: bold;
  z-index: 9;
}

.resultMenu div {
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* 슬롯리스트 */
.resultMenu #StoreNameList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background: #fff;
  animation: slide 0.7s step-end forwards;
}

#StoreNameList li,
#pickMenu {
  font-size: 60px;
  font-family: "Do Hyeon", sans-serif;
  font-weight: normal;
}

/* 실제 결과값 */
.resultMenu h1:nth-child(2) {
  position: absolute;
  opacity: 0;
  animation: appear 0.5s step-start 0.7s forwards;
}

#CloseBtn {
  width: 30%;
}

/* 슬롯애니 */
@keyframes slide {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-10%);
  }

  20% {
    transform: translateY(-20%);
  }

  30% {
    transform: translateY(-30%);
  }

  40% {
    transform: translateY(-40%);
  }

  50% {
    transform: translateY(-50%);
  }

  60% {
    transform: translateY(-60%);
  }

  70% {
    transform: translateY(-70%);
  }

  80% {
    transform: translateY(-80%);
  }

  90% {
    transform: translateY(-90%);
  }

  100% {
    opacity: 0;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  #inputForm {
    justify-content: center;
    flex-wrap: wrap;
  }
  #inputForm .btn.btn-success {
    margin: 5px;
  }
  .white_bg {
    width: 70%;
  }
  .white_bg h4 {
    font-size: 19px;
  }
  #StoreNameList li,
  #pickMenu {
    font-size: 52px;
  }
  #SlotBtn {
    width: 300px;
  }
  #menu_wrap {
    width: 400px;
    min-width: 10%;
  }

  #placesList .item .info {
    width: 100%;
    flex-direction: column;
  }
  #placesList .item .info h5 {
    font-size: 18px;
  }
  #placesList .item .info h5::after {
    content: "";
  }
  #placesList .info .jibun {
    padding-left: 0px;
  }
  #placesList .info .tel {
    padding-left: 0px;
  }
  #placesList .info .tel a {
    font-size: 14px;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .TopTitle {
    height: 35vh;
    justify-content: flex-start;
    padding: 3vh 1.5vw 0 1.5vw;
  }
  .TopTitle h3 {
    line-height: 15px;
  }
  #map {
    margin-top: 15vh;
    height: 400px;
  }

  #inputForm {
    justify-content: center;
    flex-wrap: wrap;
  }
  #inputForm .btn.btn-success {
    margin: 5px;
  }
  .white_bg {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .white_bg h4 {
    font-size: 15px;
  }
  .resultMenu {
    width: 300px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }

  .resultMenu #StoreNameList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  #StoreNameList li,
  #pickMenu {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    word-break: keep-all;
  }

  #pickMenu {
    position: relative;
    top: -10px;
    width: 100%;
    height: 100px;
    vertical-align: middle;
    line-height: 40px;
    word-break: keep-all;
  }

  #SlotBtn {
    width: 300px;
  }
  #menu_wrap {
    width: 300px;
    min-width: 10%;
  }

  #placesList .item .info {
    width: 100%;
    flex-direction: column;
  }
  #placesList .item .info h5 {
    font-size: 18px;
  }
  #placesList .item .info h5::after {
    content: "";
  }
  #placesList .info .jibun {
    padding-left: 0px;
  }
  #placesList .info .tel {
    padding-left: 0px;
  }
  #placesList .info .tel a {
    font-size: 14px;
  }
}
